/* This is the stylesheet */
/* copied over from Lab 7 */

h1{
    font-family: "Press Start 2P", cursive;
  }

body {
  background: #FF6666;
}

.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
}

h1 {
  margin: 20px 50px;
  padding: 0 20px;
  min-height: 75px;
  background-color: #0066cc;
  color: white;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
  border-radius: 4px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.cloud {
  margin: 20px 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 4px;
}

.caption{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  text-transform: capitalize;
}

.boof {
  display: flex;
  max-width: 15%;
  max-height: auto;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text_input {
  width: 400px;
  height: 50px;
  font-size: 1.2em;
  border: 1px solid gray;
}

/* centers the stuff */
.filteredcases {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* forces column */
.rest_list {
  flex-direction: column;
  list-style: none;
  width: auto;
}

/* forces name to be left side */
.name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.address {
  display: flex;
  justify-content: center;
  align-self: center;
  font-style: italic;
}

/* forces uniformity across every list object */
.rest_list > li {
  width: 500px;
  height: auto;
  margin: 2%;
  background: rgb(208,208,208);
  background: linear-gradient(90deg, rgba(208,208,208,1) 0%,
   rgba(44,132,163,1) 45%, rgba(0,212,255,1) 100%);
}