/* This is the stylesheet */
/* copied over from Lab 7 */

h1{
    font-family: "Press Start 2P", cursive;
  }

body {
  background: #FF6666;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100%;
}

.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 125px;
  max-width: 225px;
  padding: 8px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 225px;
}

.flex-outer button {
  background-color: #0066cc;
  color: white;
  padding: 6px 12px;
  border: none;
  text-transform: uppercase;
  font-family: "Press Start 2P", print;
  letter-spacing: 1.2px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

.flex-inner li {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
}

.flex-inner input {
  margin-right: 15px;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer {
  width: 960px;
  padding: 0 16px;
  margin:0 auto;
}

h1 {
  margin: 20px 50px;
  padding: 0 20px;
  min-height: 75px;
  background-color: #0066cc;
  color: white;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
  border-radius: 4px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.cloud {
  margin: 20px 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 4px;
}

.caption{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  text-transform: capitalize;
}

.boof {
  display: flex;
  max-width: 15%;
  max-height: auto;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text_input {
  width: 400px;
  height: 50px;
  font-size: 1.2em;
  border: 1px solid gray;
}

/* centers the stuff */
.filteredcases {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* forces column */
.rest_list {
  flex-direction: column;
  list-style: none;
  width: auto;
}

/* forces name to be left side */
.name {
  display: flex;
  justify-content: center;
  align-content: center;
}

.address {
  display: flex;
  justify-content: center;
  align-content: center;
  font-style: italic;
}

/* forces uniformity across every list object */
.rest_list li {
  display: flex;
  justify-self: start;
  align-content: center;
  width: 500px;
  height: auto;
  margin: 2%;
  background: rgb(208,208,208);
  background: linear-gradient(90deg, rgba(208,208,208,1) 0%,
   rgba(44,132,163,1) 45%, rgba(0,212,255,1) 100%);
}

/*
.filteredcases {
  display: flex;
  justify-content: center;
  align-content: center;
}

.rest_list {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  list-style: none;
  width: auto;
}

.name, .address {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  list-style: none;
}

.rest_list li {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 400px;
  margin: 2%;
  background: rgb(208,208,208);
  background: linear-gradient(90deg, rgba(208,208,208,1) 0%,
   rgba(44,132,163,1) 45%, rgba(0,212,255,1) 100%);
}
*/